{% extends 'main.html' %}


{% block content %}
    {% if page == 'register' %}
        <h1>Register User</h1>
        <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register User"/>
        </form>
          <p>Already have an Account?<a href="{% url 'login' %}">Login</a></p>
        {% else %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Enter password"/>
            <input type="submit" value="Login"/>

        <p>Don't have an Account?<a href="{% url 'register' %}">Sign Up</a></p>
        </form>
    {% endif %}



{% endblock content %}