{% extends 'main.html' %}
{% block content %}

    <h1>Projects</h1>
<table>
    <tr>
        <th>ID</th>
         <th>Projects</th>
         <th>Positive Votes</th>
         <th>Votes</th>
        <th></th>
    </tr>
       {% for project in projects %}
           <tr>
              <td>{{ project.id }}</td>
          <td>{{ project.title }}</td>
            <td>{{ project.vote_ratio }}%</td>
            <td>{{ project.vote_total }}</td>
           <td>{{ project.created }}</td>
           <td><a href="{% url 'project' project.id %}">View</a></td>
           </tr>
 {% endfor %}
</table>

{% endblock content %}
